select {
  -webkit-appearance: none; /* for chrome */

  -moz-appearance: none; /*for firefox*/

  appearance: none;
  background: url("assets/signUp/selectArr.svg") no-repeat 97% 50%;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}
